<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<title>Garage Door Monitor and Controller</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/bootstrap.min.css"  />
<link rel="stylesheet" href="/static/style.css" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/static/bootstrap.min.js"></script>
{% endblock head %}
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>